# Commonly unnecessary files
*.swp
*.out
*~
\#*
.project
.DS_Store

# C++ Executable files
bin/

# C++ Compiled Object files
*.slo
*.lo
*.o

# C++ Compiled Dynamic libraries
*.so
*.dylib

# C++ Compiled Static libraries
*.lai
*.la
*.a

# C++ Pre-compiled headers
*.gch
